html{
  height: 100%
}

body{
  opacity: 0
}

.background {
  background: black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* z-index usage is up to you.. although there is no need of using it because the default stack context will work. */
  z-index: -1;
}

.body-wrapper{
    font-size: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Hide the scrollbar */
.body-wrapper::-webkit-scrollbar { width: 0 !important }

.body-wrapper#home .container {
  margin: auto;
}

.background#home-bg {
  background: linear-gradient(to bottom right, rgb(0, 28, 88), rgb(10, 142, 160)) fixed no-repeat;
}

.body-wrapper#about {
  align-items: unset
}

.body-wrapper#about .container {
  margin: auto;
}

.background#about-bg {
  background: linear-gradient(to bottom right, rgb(88, 0, 44), rgb(0, 40, 126)) fixed no-repeat;
}

#origami {
  height: 200px; object-fit: cover; opacity:0
}

.intro {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.74);
    padding: 50px 0;
    text-align: center;
    font-family: "Courier New", "Lucida Console", monospace;
    opacity: 0;
}

.intro#about-intro {
  font-size: 1.6em;
  text-align: left;
  opacity: 1;
}

.intro#work-intro {
  font-size: 1.6em;
  padding: 20px 0;
}

.icons {
    text-align: center;
}

.fab, .fas {
    font-size: 3em;
    color: rgba(255, 255, 255);
    padding: 10px;
    opacity: 0;
}

.bottom-text {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Courier New", "Lucida Console", monospace;
  font-size: 1.2em;
  /*position: fixed;*/
  text-align: center;
  opacity: 0
}

.navigation {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Raleway", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  /*position: fixed;*/
  margin: 10px 30px;
  opacity: 0;
}

.navigation .brdcrmb {
  display: inline-block;
  font-family: "Courier New", "Lucida Console", monospace;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.intro#about-intro p {
  margin: 0;
  opacity: 0;
}

label .menu {
  position: fixed;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: rgb(255, 255, 255);
  border-radius: 50% 50% 50% 50%;
  opacity: 0;
  box-shadow: -3px 3px 10px 0px rgba(48,48,48,0.3);
  cursor: pointer;
  will-change: transform;
}

label .circle {
  position: fixed;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0;
  /*background: rgba(255, 255, 255, 0);
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;*/
}

label .hamburger {
  position: fixed;
  top: 40px;
  right: 25px;
  z-index: 101;
  width: 30px;
  height: 2px;
  background: #000;
  opacity: 0;
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
  transition: .5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
  z-index: 101;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}
label .hamburger:before {
  top: -10px;
}
label .hamburger:after {
  bottom: -10px;
}
label input {
  display: none;
}

label input:checked + .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
label input:checked + .hamburger:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 0;
}
label input:checked + .hamburger:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*label input:checked + .menu + ul {
  opacity: 1;
}*/

label ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  visibility: hidden;
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

label a {
  margin-bottom: 2em;
  display: block;
  color: #000;
  font-size: 2.1em;
  font-family: "Courier New", "Lucida Console", monospace;
  font-weight: bold;
  text-decoration: none;
  opacity: 0;
}

label a:hover {
  background: gray;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

label a#home-link:hover {
  background: linear-gradient(to bottom right, rgb(0, 43, 136), rgb(10, 163, 184));
  -webkit-background-clip: text;
  background-clip: text;
}

label a#about-link:hover {
  background: linear-gradient(to bottom right, rgb(163, 0, 82), rgb(0, 69, 219));
  -webkit-background-clip: text;
  background-clip: text;
}

label a#work-link:hover {
  background: linear-gradient(to bottom right, #19547b, #ffd89b);
  -webkit-background-clip: text;
  background-clip: text;
}

ul li:nth-of-type(4) {
  display:none;
}

@media screen and (max-width: 1200px){
  .body-wrapper{font-size: 0.8rem}
  #origami{height: 170px}
}

@media screen and (max-width: 600px){
  .ml11{font-size: 2.5em;}
  .intro{font-size: 1.8em; padding: 25px 0}
  .navigation{font-size: 1.8em}
  .ml11 {padding-top: 40px}
  label .menu {
    right: -75px;
    top: -75px;
    width: 150px;
    height: 150px;
  }
  label .hamburger {
    top: 30px;
    right: 15px;
    width: 30px;
    height: 2px;
  }
}