* {
    box-sizing: border-box;
}

.body-wrapper {
  background: linear-gradient(to bottom right, rgb(0, 83, 116), rgb(204, 75, 0)) fixed no-repeat;
  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
}

body {
  margin: 0;
}

/* Hide the scrollbar */
body::-webkit-scrollbar { width: 0 !important }

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 5em auto;
  font-family: 'Courier New', Courier, monospace;
  opacity: 0;
  padding: 80px 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.74) 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) );
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

/* Container around content */
.baloon {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.baloon::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(0, 55, 77);
  top: 15px;
  border-radius: 50%;
  
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.left .content h2 {
  text-align: right;
}

.left .content .logo {
  float: left;
  width: 4em;
  opacity: 0.7;
}

.right .content .logo {
  float: right;
  width: 60px;
  opacity: 0.7;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  .timeline {
    margin: 2em auto;
  }

/* Full-width containers */
  .baloon {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    font-size: 1.1em;
  }

/* Make sure that all arrows are pointing leftwards */
  .baloon::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .left .content h2 {
    text-align: left;
  }

  .left .content .logo {
    float: right;
  }
}